@model PluginSleuth.Models.Plugin

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Plugin</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Engine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Engine.About)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PluginType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PluginType.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommercialUse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommercialUse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Free)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Free)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Webpage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Webpage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsListed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsListed)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PluginId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
