@model IEnumerable<PluginSleuth.Models.Plugin>

@{
    ViewData["Title"] = "IndexDownloaded";
}

<h1>My Collection</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Engine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PluginType.Name)
            </th>
            <th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Engine.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PluginType.Name)
            </td>
            @if (ViewBag.Admin == true)
            {
        <td>
            <a asp-action="Edit" asp-route-id="@item.PluginId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.PluginId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.PluginId">Delete</a>
        </td>
            } else
            {
        <td>
            <a asp-action="Details" asp-route-id="@item.PluginId">Details</a> |

        </td>
            }
        </tr>
}
    </tbody>
</table>
