@model IEnumerable<PluginSleuth.Models.Plugin>

@{
    ViewData["Title"] = "Index";
}

<h1>My Plugins</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Engine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PluginType.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsListed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Engine.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PluginType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsListed)
            </td>
            <td>
                @if (@item.IsListed == true)
                {
                    <a asp-controller="UnlistPlugin" asp-action="Edit" asp-route-id="@item.PluginId">Unlist</a>
                }
                else
                {
                    <a asp-controller="UnlistPlugin" asp-action="Edit" asp-route-id="@item.PluginId">List</a>

                }
                | <a asp-action="Edit" asp-route-id="@item.PluginId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PluginId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PluginId">Delete</a> |
                <a asp-controller="Versions" asp-action="Index" asp-route-id="@item.PluginId">Versions</a>
            </td>
        </tr>
}
    </tbody>
</table>
